.App {
  text-align: center;
}

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative; 
}
.btn-two span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}

.home-div {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: #FF06B7;
}

.home-div-button {
  position: absolute;
  top: 30px;
}

.about-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.home-button {
  position: fixed;
  right: 50px;
  bottom: 5px;
}

.about-page-div {
  border: 2px solid black;
  height: 300px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5); 
}

.feedback-div {
  width: 750px;
  height: 100px;
  color: black;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  margin: 30px;
  position: relative;
}

.feedbacks-div {
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
}

.rating-circle {
  background-color: #ff6a95;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 8px;
  text-align: center;
  position: absolute;
  left: -10px;
  top: -10px;
  color: white;
}

.feedback-form {
  height: fit-content;
  width: 750px;
  background-color: white;
  color: black;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
}

.feedback-message-input {
  border: 1px solid black;
  width: 500px;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.rating-input {
  list-style: none;
  padding: 10px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.submit-button {
  background-color: #202142;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.delete-button {
  cursor: pointer;
  color: #ff6a95;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  right: 10px;
}

.delete-button:hover {
  color: purple;
}

.edit-button {
  cursor: pointer;
  color: #ff6a95;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  right: 30px;
}

.edit-button:hover {
  color: purple;
}

.feedback-count {
  position: absolute;
}

.feedback-average {
  position: absolute;
  right: 0;
}
